[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pexpect = "==4.2.1"
apscheduler = "==3.3.1"
argparse = "==1.4.0"
mock = "==2.0.0"
pytz = "==2016.10"
pyyaml = "==3.12"
requests = "==2.13.0"
numpy = "*"
"beautifulsoup4" = "==4.5.3"
google-api-python-client = "==1.6.2"
rethinkdb = "==2.3.0"
pyaudio = "==0.2.11"
psutil = "==5.2.0"
pydictionary = "*"
pafy = "*"
youtube-dl = "*"
cryptography = "*"


[dev-packages]

bumpversion = "==0.5.3"
watchdog = "==0.8.3"
"flake8" = "==2.6.0"
tox = "==2.3.1"
coverage = "==4.1"
sphinx = "==1.4.8"
cryptography = "*"
pyyaml = "==3.11"
autoflake = "*"
"autopep8" = "*"
